
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>Mvc Proje Youtube</h1>
<br />
<table class="table table-bordered">

    <tr>
        <th>Kategori ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durumu</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Film</td>
        <td>Sadece film önerisi, eleştirisi yapılabilir</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>


